@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}

:root {
  --font-chakra: "Chakra Petch", sans-serif;
}

@theme inline {
  --default-font-family: var(--font-chakra), var(--font-sans);

  --breakpoint-xs: 30rem;
}

/* .menu li:not(:last-child) a.active { */
.menu a.active {
  @apply text-primary font-semibold;
}

/* .menu li:is(:last-child) a.active {
  @apply bg-secondary;
} */
