@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}

:root {
  --font-chakra: "Chakra Petch", sans-serif;
}

@theme inline {
  --default-font-family: var(--font-chakra), var(--font-sans);

  --breakpoint-xs: 30rem;
}

/* .menu li:not(:last-child) a.active { */
.menu a.active {
  @apply text-primary font-semibold;
}

/* .menu li:is(:last-child) a.active {
  @apply bg-secondary;
} */

@utility heading-2 {
  @apply mb-4 text-2xl font-bold sm:text-4xl;
}

@utility heading-3 {
  @apply mb-1 text-2xl font-bold md:text-3xl;
}
@utility heading-4 {
  @apply text-xl font-semibold md:text-2xl;
}
@utility heading-5 {
  @apply text-lg font-medium;
}
